<!-- <vc-auth-form FGroupName="tel-step" [FGroup]="formGroup" (submitEvent)="onSubmit()" [currentStep]="currentStep" [step]="step">
  <vc-auth-emoji>☎️</vc-auth-emoji>

  <vc-auth-header>Enter your phone number</vc-auth-header>

  <vc-auth-sub-header>we will send you a code</vc-auth-sub-header>

  <vc-auth-input (inputEvent)="onInput()" label="phone number" FControlName="tel" type="tel"></vc-auth-input>

  <vc-auth-btn-loader
    [loading]="loading"
    [disabled]="isBtnDisabled"
  ></vc-auth-btn-loader>
</vc-auth-form> -->


<!-- <vc-stepper-item [FGroup]="formGroup" FGroupName="tel-step" [submitPipe]="submitPipe">
  <h2 vcAuthHeader>Your Phone Number</h2>
  <p vcAuthCaption>Please config your country code and enter your mobile phone number.</p>

  <vc-stepper-field-select FControlName="tel-code">
      <mat-option>None</mat-option>
      <mat-option  *ngFor="let telCode of phoneNumberCodes" [value]="telCode.countryCode">
        {{telCode.name}}
      </mat-option>
  </vc-stepper-field-select>
  <div class="tel">
    <vc-stepper-field class="tel-code" FControlName="tel-code" type="number"></vc-stepper-field>
    <vc-stepper-field class="tel-number" FControlName="tel-number" type="number"></vc-stepper-field>
  </div>
</vc-stepper-item> -->

<vc-step [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
  <input type="text" formControlName="tel-code">
</vc-step>