.tel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tel-code {
  width: 19%;
}

.tel-number {
  width: 79%;
}

.select {
  width: 100%;
  font-size: 0.8rem;
}

::ng-deep {
  .mat-select-value-text .a {
    display: none;
  }
}
