.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &::ng-deep circle {
    stroke: var(--reverse-text-color);
  }
}
