:host {
  --steppers-item-width: 14rem;
}

form {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
}

.steps {
  width: calc(var(--steppers-item-width) * 3);
  position: relative;
}
