:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--step-width);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
