.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.steps-wrapper {
  border: 1px solid var(--dividers-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.steps-item {
  width: 100%;
  height: 100%;
  position: absolute;

  &.f {
    background-color: blue;
  }

  &.s {
    background-color: green;
  }

  &.t {
    background-color: yellow;
  }
}
