<form [formGroup]="formGroup">
  <div class="wrapper">
    <vc-auth-step-welcome
      [currentStep]="step"
      (stepChange)="onStepChange($event)"
    ></vc-auth-step-welcome>
    <vc-auth-step-name
      [currentStep]="step"
      (stepChange)="onStepChange($event)"
    ></vc-auth-step-name>
    <vc-auth-step-tel
      [loading]="isTelLoading"
      [currentStep]="step"
      (stepChange)="onStepChange($event)"
    ></vc-auth-step-tel>
    <vc-auth-step-code
      [loading]="isCodeLoading"
      [currentStep]="step"
      (stepChange)="onStepChange($event)"
    ></vc-auth-step-code>
  </div>
</form>