<button (click)="increaseStep()">Increase Step</button>
<div class="wrapper">
  <div class="steps-wrapper">
    <vc-phone-number-step></vc-phone-number-step>
    <!-- <div
      [@stepAnimation]="step === 0 ? 'selected' : 'unselected'"
      class="steps-item f"
    ></div>
    <div
      [@stepAnimation]="
        step === 1 ? 'selected' : step > 1 ? 'unselected' : 'not-used'
      "
      class="steps-item s"
    ></div>
    <div
      [@stepAnimation]="
        step === 2 ? 'selected' : step > 2 ? 'unselected' : 'not-used'
      "
      class="steps-item t"
    ></div> -->
  </div>
</div>
