<vc-auth-step>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="mat-h2">Enter your phone number</h2>
    <h3>we will send you a code</h3>
    <mat-form-field class="field" appearance="outline">
      <mat-label>&#00;Phone number</mat-label>
      <input
        formControlName="tel"
        matInput
        type="tel"
        (input)="onTelChange()"
      />
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <button [disabled]="isLoading" [class.visible]="isShowNextBtn" type="submit" mat-flat-button color="primary" class="btn">
      <div class="btn-content">
        next
      </div>
    </button>
  </form>
</vc-auth-step>
