:host {
  display: block;
  width: var(--step-width);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type='submit'] {
  display: none;
}
