@use '~@angular/material' as mat;
@import '../theme/theme.scss';

input {
  @include mat.typography-level($fontConfig, 'body-1');
}

mat-form-field::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-underline {
    bottom: 0 !important;
  }

  .mat-form-field-subscript-wrapper {
    top: auto !important;
    bottom: 0 !important;
  }
}

mat-form-field {
  width: 100%;
}
