@import "./vars.scss";

mat-form-field::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-underline {
    bottom: 0 !important;
  }

  .mat-form-field-subscript-wrapper {
    top: auto !important;
    bottom: 0 !important;
  }
}

.input {
  font: $base-font;
}
