<vc-step [formGroup]="formGroup">
  <h2 vcAuthHeader>Phone Number</h2>
  <p vcAuthCaption>Please config your country code and enter your mobile phone number.</p>

  <mat-form-field class="select">
    <mat-select [(value)]="selectedCountryIndex">
      <mat-option [value]="-1" class="option-country">Contry Code</mat-option>
      <div class="option" *ngFor="let country of countries; index as i">
        <mat-option class="option-country" [value]="i">{{country.name}}</mat-option>
        <span class="option-code mat-caption">{{'+' + country.telCode}}</span>
      </div>
    </mat-select>
  </mat-form-field>

  <div class="tel">
    <mat-form-field class="tel-code">
      <input matInput class="input" (input)="onTelCodeInput()" formControlName="tel-code" type="text">
    </mat-form-field>
    <mat-form-field class="tel-number">
      <input matInput class="input" (input)="onTelNumberInput()" formControlName="tel-number" type="text">
    </mat-form-field>
  </div>
</vc-step>