<vc-auth-wrapper [currentStep]="currentStep" [step]="step">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
    <p class="emoji">☎️</p>
    <h2 class="mat-h2">Enter your phone number</h2>
    <h3 class="mat-h3">we will send you a code</h3>
    <mat-form-field appearance="outline">
      <mat-label>&#00;Phone number</mat-label>
      <input
        formControlName="tel"
        matInput
        type="tel"
        (input)="onChange()"
      />
      <!-- <mat-icon matSuffix>phone</mat-icon> -->
      <!-- <mat-error class="error">sdfdsf{{errorMsg}}</mat-error> -->
    </mat-form-field>
    <button [disabled]="isBtnDisabled" type="submit" mat-flat-button color="primary" class="btn">
      <div class="btn-content">
        <span>next</span>
        <!-- <span>please wait</span> -->
        <!-- <mat-spinner *ngIf="isLoading" class="spinner" diameter="30" strokeWidth="2"></mat-spinner> -->
      </div>
    </button>
    
    <!-- <button [disabled]="isDisableBtn" type="submit" mat-flat-button color="primary" class="btn">
      <div class="btn-content">
        <span *ngIf="!isLoading">next</span>
        <span *ngIf="isLoading">please wait</span>
        <mat-spinner *ngIf="isLoading" class="spinner" diameter="30" strokeWidth="2"></mat-spinner>
      </div>
    </button> -->
  </form>
</vc-auth-wrapper>