.tel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tel-code {
  width: calc(22% - 0.25rem);
  text-align: center;
}

.tel-number {
  width: calc(78% - 0.25rem);
}

.input {
  font: 400 0.87rem/1.25rem Roboto;
  letter-spacing: 0.0179em;
}

.select {
  width: 100%;
}

.select::ng-deep .mat-select-value-text {
  font: 400 0.87rem/1.25rem Roboto;
  letter-spacing: 0.0179em;
  user-select: none;
}

.option {
  position: relative;
  overflow: hidden;
}

.option-country::ng-deep {
  .mat-option-text {
    font: 400 0.87rem/1.25rem Roboto;
    letter-spacing: 0.0179em;
    user-select: none;
    padding-right: 2rem !important;
  }
}

.option-code {
  font: 400 0.75rem/1.25rem Roboto;
  letter-spacing: 0.0333em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  z-index: 10000;
  user-select: none;
}

mat-form-field::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  .mat-form-field-underline {
    bottom: 0 !important;
  }

  .mat-form-field-subscript-wrapper {
    top: auto !important;
    bottom: 0 !important;
  }
}
