@import "../../vars.scss";

.tel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tel-code {
  width: calc(22% - 0.25rem);
  text-align: center;
}

.tel-number {
  position: relative;
  width: calc(78% - 0.25rem);
}

.select {
  width: 100%;
}

.select::ng-deep .mat-select-value-text {
  font: $base-font;
  letter-spacing: 0.0179em;
  user-select: none;
}

.option {
  position: relative;
  overflow: hidden;
}

.option-country::ng-deep {
  .mat-option-text {
    font: $base-font;
    letter-spacing: 0.0179em;
    user-select: none;
    padding-right: 2rem !important;
  }
}

.option-code {
  font: $base-font;
  letter-spacing: 0.0333em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  z-index: 10000;
  user-select: none;
}
