vc-stepper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-step-btn {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-top: 0.4rem;
}

.prev-step-btn {
  margin-top: 0.7rem;
  margin-left: 0.6rem;
  opacity: 0;
  transform: translateX(20%);
  transition: 200ms;

  &.active {
    opacity: 1;
    transform: translateX(0);
  }
}

.progress-bar {
  opacity: 0;
  transition: 100ms;

  &.active {
    opacity: 1;
  }
}
