<mat-progress-bar
  [class.active]="loadingService.loading$ | async"
  class="progress-bar"
  mode="indeterminate"
></mat-progress-bar>
<form vcStepperWrapper [formGroup]="formGroup">
  <button class="prev-step-btn" vcStepperPrev mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <vc-stepper (finish)="onFinish()">
    <vc-auth-welcome></vc-auth-welcome>
    <vc-auth-tel></vc-auth-tel>
    <vc-auth-code></vc-auth-code>
    <vc-auth-init-profile></vc-auth-init-profile>
    <button
      vcStepperNext
      mat-flat-button
      [disabled]="isLoading"
      color="primary"
      class="next-step-btn"
    >
      Next
    </button>
  </vc-stepper>
</form>
