<!-- <vc-auth-form FGroupName='welcome-step' [FGroup]="formGroup" [currentStep]="currentStep" [step]="step">
  <vc-auth-emoji>🎉</vc-auth-emoji>

  <vc-auth-header>Welcome</vc-auth-header>

  <vc-auth-text>
    This is a space for casual, drop-in audio conversations—with friends and other interesting people around the world.
  </vc-auth-text>

  <vc-auth-btn (clickEvent)="onSignUp()">Sign up</vc-auth-btn>
  
  <vc-auth-btn (clickEvent)="onSignIn()" [secondary]="true">Already have account</vc-auth-btn>
</vc-auth-form> -->

<vc-stepper-item [fixHeight]="true" [submitPipe]="submitPipe" [FGroup]="formGroup" FGroupName="welcome-step">
  <vc-auth-header>Voice Chat</vc-auth-header>
  <vc-auth-text>
    Welcome to the Voice Chat web app.
  </vc-auth-text>
</vc-stepper-item>