<vc-auth-wrapper [currentStep]="currentStep" [step]="step">
  <p class="emoji">🎉</p>
  <h2 class="mat-h2">Welcome</h2>
  <p class="mat-body">This is a space for casual, drop-in audio conversations—with friends and other interesting people around the world.</p>
  <div class="btn-wrapper">
    <button mat-flat-button color="primary" class="btn-sign-up" (click)="onSignUp()">Sign up</button>
    <button mat-flat-button class="btn-sign-in" (click)="onSignIn()">Already have account</button>
  </div>
</vc-auth-wrapper>